
body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(Waterfall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms ease-in-out;
}

.showcase:hover::after {
   filter: blur(0px);
   -webkit-filter: blur(0px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.showcase:hover .content {
/*filter: blur(2px);
-webkit-filter: blur(2px);*/
  margin-top: 0;
  margin-left: -200px;
  width: 400px;
  height: 400px;
}

.content .logo {
  height: 120px;
  width: 300px;
}

.content .title {
 font-size: 2.2rem;
 margin-top: 0;
}

.content .text {
 line-height: 1;
 margin-top: 1rem;
}

.container {
max-width: 960px;
margin: auto;
overflow: hidden;
padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}


.center {
  text-align: center;
  margin:auto
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

footer p {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

/* Responsive Styles Saml Screens */
@media (max-width: 560px) {

.showcase::after {
    height: 40vh;
}

.content {
top: 5%;
margin-top: 5px;
margin-top: 70px;
margin-left: -145px;
width: 300px;
height: 350px;
text-align: center;
transition: all 1000ms;
}

.content .logo {
  height: 70px;
  width: 190px;
  margin-top: 60px;
}
.content .title {
font-size: 1.5rem;
margin-top: 0;
}
.content .text {
  display: none;
}

.grid-3 {
  grid-template-columns: repeat(1, 1fr);    
}

.grid-2 {
  grid-template-columns: repeat(1, 1fr);
}

.services div {
  border-bottom: #333 dashed 1px;
  padding: 1.2rem 1rem; 
}

}

/*landscape mode*/
@media (max-height: 490px) {
 .content .text {
  display: none;
  font-size: 50px;
 }

 .content {
    top: 25%;
 }
}